{% extends 'base.html' %}
{% load static %}

{% block main_container %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <a class="brand my-5" href="/">
                    <img class="img-fluid" src="{% static '/assets/img/logo.png' %}" alt="HappyDogs">
                </a>
            </div>
            <div class="col-sm-12 col-md-8 mb-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <div class="calendar-wrapper">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 form-group text-start">
                                <label for="start_date" class="col-form-label pt-0">Start Date</label>
                                <input name="start_date" type="date" class="form-control" id="start_date_one" required>
                            </div>
                            <div class="col-sm-12 form-group text-start">
                                <label for="end_date" class="col-form-label">End Date</label>
                                <input name="end_date" type="date" class="form-control datepicker" id="end_date_one"
                                       required>
                            </div>
                        </div>
                        <div class="img-wrapper text-center mt-4">
                            <img class="img-fluid" src="{% static '/assets/img/2.png' %}" alt="HappyDogs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="data" style="display: none">
        {{ data }}
    </div>
    <div id="calendar_data" style="display: none">
        {{ calender_data }}
    </div>
    <div id="start_date" style="display: none">
        {{ start_date }}
    </div>
    <div id="end_date" style="display: none">
        {{ end_date }}
    </div>


{% endblock %}

{% block list_container %}
    <div class="modal fade" id="eventsModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel"></h5>
                </div>
                <div class="modal-body">
                    <div class="display-data">
                        <table class="table table-bordered m-0">
                            <thead>
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-0 pt-0">
                    <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            let data = document.getElementById('data');
            console.log(data.innerText);
            let start_date = document.getElementById('start_date');
            let end_date = document.getElementById('end_date');
            let calendar_data = document.getElementById('calendar_data');
            let eventModal = $('#eventsModal');
            let calendarEl = document.getElementById('calendar');

            eventModal.modal('hide');

            console.log(start_date.innerHTML.trim())

            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listWeek'
                },
                timeZone: 'local',
                eventDisplay: 'list-item',
                events: JSON.parse(data.innerText),
                initialDate: start_date.innerHTML.trim(),
                eventClick: function (info) {
                    eventModal.modal('show');
                    let cDate = new Date(info.event.start);
                    let getFormat = new Date(cDate.setDate(cDate.getDate() + 1)).toISOString().slice(0, 10);
                    let data = JSON.parse(calendar_data.innerText);
                    data.filter((item) => item.start_date === getFormat).map((key, index) => {
                        let result = `<tr><td>${key.first_name} ${key.last_name}</td><td>${key.start_date}</td><td>${key.end_date}</td></tr>`;
                        $('#eventsModal tbody').append(result);
                    });
                    $('#titleLabel').append('Date: ' + getFormat)
                },
                eventSources: [
                    {
                        // Ajax Call here
                    }
                ]
            });
            calendar.render();


            eventModal.on('hide.bs.modal', function (e) {
                console.log('hiding')
                $('#titleLabel').empty();
                $('.display-data tbody').empty();
            })
        });

    </script>


{% endblock %}